*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-gap: 20px;
}

.container .img{
  overflow: hidden;
}

.container img{
  display: block;
  width: 100%;
  height: 100%;
  transition: all .5s ease-out;
}

.container img:hover{
  transform: scale(1.2);
}

.modal{
  background-color: rgba(0, 0, 0, 0.698);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-out;
}

.modal.open{
  pointer-events: all;
  opacity: 1;
}

.modal .full-img{
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal .caption{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: #fff;
}